@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font1: "Oswald", sans-serif;
  --font2: "Roboto Condensed", sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: blanchedalmond;
}

main {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
/* intro section  */

img {
  border-radius: 40px;
  width: 79px;
  height: 80px;
  border: 1.5px solid #80808069;
}

.intro {
  width: 65vw;
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #a1a1a169;
}

.banner-text {
  text-transform: capitalize;
  font-family: var(--font2);
  font-size: 50px;
  color: transparent;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  background-clip: text;
  width: 30vw;
}

.intro p {
  text-transform: capitalize;
  font-family: var(--font2);
  font-size: 20px;
  margin-top: 10px;
}

.icon {
  color: grey;
  width: 30px;
  height: 30px;
  margin-top: 30px;
  margin-right: 10px;
  cursor: pointer;
}

/* education section  */

.education {
  width: 65vw;
  margin-top: 10px;
}

.cv-btn {
  width: 100%;
  height: 30px;
  font-family: var(--font2);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: rgba(39, 39, 42, 0.651);
  color: rgba(212, 212, 216, 0.856);
  border: none;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.cv-btn a {
  color: rgba(212, 212, 216, 0.856);
  text-decoration: none;
}

.cv-btn:hover {
  transition: background-color 0.5s ease-out;
  background-color: #751aff;
}

.qualification {
  width: 65vw;
  font-family: var(--font2);
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  background-color: transparent;
}

.qualification UL {
  width: 50%;
  text-transform: capitalize;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 15vh;
  list-style: none;
}

.qualification li {
  font-size: 25px;
  font-weight: 600;
}

.education h1 {
  font-family: var(--font2);
  text-transform: capitalize;
  font-size: 35px;
  margin-top: 20px;
  font-weight: 900;
}

@media only screen and (max-width: 768px) {
  .qualification {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 30px;
    width: 90vw;
  }

  .banner-text {
    width: 100%;
  }

  img {
    border-radius: 15px;
    margin-bottom: 30px;
  }
}
